<h1>Request a song</h1>

<div class="btn-group">
  <button class="btn btn-default" ng-model="manualMode" btn-radio="false">Search the catalogue</button>
  <button class="btn btn-default" ng-model="manualMode" btn-radio="true">Enter manually</button>
</div>

<form name="requestForm">

  <fieldset ng-hide="manualMode">
    <div class="form-group" show-errors>
      <label for="songId">Search</label>
      <!--<input id="songId" type="text" ng-model="request.songId" placeholder="Search" typeahead="song.id as song.summary for song in doSearch($viewValue)" typeahead-editable=false typeahead-min-length=3 typeahead-wait-ms=20 typeahead-loading="loadingSongs" class="form-control">-->
      <input id="songId" type="text" ng-model="request.songId" placeholder="Search" typeahead="song.id as song.summary for song in testSongs" typeahead-editable=false typeahead-min-length=3 typeahead-wait-ms=100 typeahead-loading="loadingSongs" typeahead-input-formatter="$model" class="form-control">
      <i ng-show="loadingSongs" class="glyphicon glyphicon-refresh"></i>

      <select ng-model="request.songIdTest" ng-options="song.id as song.summary for song in testSongs" typeahead-editable=false typeahead-min-length=3 typeahead-wait-ms=20 typeahead-loading="loadingSongs" class="form-control"></select>
    </div>
  </fieldset>

  <fieldset ng-show="manualMode">
    <div class="form-group" show-errors>
      <label for="title">Song Title</label>
      <input id="title" class="form-control" data-ng-model="request.title" placeholder="Song Title" required />
    </div>
    <div class="form-group">
      <label for="artist">Song Artist</label>
      <input id="artist" class="form-control" data-ng-model="request.artist" placeholder="Song Artist" required />
    </div>
    <div class="form-group">
      <label for="artist">External Url</label>
      <input id="externalLink" class="form-control" data-ng-model="request.externalLink" placeholder="A youtube link if you have one..." required />
    </div>
  </fieldset>

  <fieldset>
    <div class="form-group">
      <label for="title">Special Requests</label>
      <textarea data-ng-model="request.notes"  class="form-control" id="specialRequests"></textarea>
    </div>
  </fieldset>


  <fieldset>
    <button class="btn btn-primary" data-ng-disabled="requestForm.$invalid" data-ng-click="submitRequest()">Request</button>
    <button class="btn btn-primary"  data-ng-click="doDebug()">Debug</button>
  </fieldset>

</form>

<pre>form = {{request | json}}</pre>
<pre>testSongs= {{testSongs}}</pre>